*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data
abbrev_defs
ensime/
target/
ido.last
smex-items
.org-id-locations
.lsp-session-*
transient
